.main {
  max-width: 1020px;
  margin: auto;
  margin-top: 80px;
  min-height: 100vh;
  @media (max-width: 1020px) {
    padding: 0 20px;
  }
}

.nav {
  background-color: rgb(72, 72, 216);
  color: white;
  border: 1px solid transparent;
  border-bottom: 3px solid gold;
  padding: 20px 0;
  width: 100%;
  position: fixed;
  top: 0;
  .navContent {
    position: relative;
    max-width: 1020px;
    margin: auto;
    .logo {
      color: gold;
      padding-right: 20px;
      display: inline-block;
    }
    .menu {
      display: inline-block;
      list-style: none;
      padding: 0;
      margin: auto;

      a {
        padding-right: 10px;
        transition: 0.3s;
        &:hover {
          color: gold;
          border-color: gold;
        }
      }

      @media (max-width: 400px) {
        display: none;
        a {
          margin: 15px 0;
          display: block;
          border-bottom: 1px solid white;
        }
      }
    }
    .menuActive {
      display: block;
    }
    .burger {
      transition: 0.5s;
      cursor: pointer;
      position: absolute;
      right: 5px;
      top: 0;
      border: 8px solid white;
      border-bottom-color: transparent;
      border-left-color: transparent;
      border-right-color: transparent;
      transform: translateY(50%);
      display: none;
      &:hover {
        border-top-color: gold;
      }
      @media (max-width: 400px) {
        display: block;
        transform: rotate(0) translateY(8px);
      }
    }
    .activeBurger {
      transform: rotate(180deg);
    }
  }
  @media (max-width: 1020px) {
    padding: 20px;
  }
}
